$primary-color: #142127;
$primary-hover-color: #254652;
$primary-highlight-color: rgba(236, 240, 244, 0.19);
$primary-button-color: #1b3133;
$primary-button-hover-color: #1e5558;
$border-light-color: #ccc;
$modal-button-color: #7749f8;
$modal-button-hover-color: #5f3dc4;
$background-main-color: #f8f8f8;
$box-shadow-small: 0 2px 4px rgba(0, 0, 0, 0.05);
$box-shadow-medium: 0 4px 8px rgba(0, 0, 0, 0.1);
$box-shadow-large: 0 6px 12px rgba(0, 0, 0, 0.15);
$rounded-small: 4px;
$rounded-medium: 6px;
$rounded-large: 8px;
$rounded-xlarge: 12px;
