@import "../theme/color";

.select__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  min-height: 35px;

  button {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    height: 100%;
    border: 1px solid $primary-button-color;
    background: #fff;
    font-size: 0.9rem;
    font-weight: 600;
    transition: background 0.3s, color 0.3s;

    &:hover {
      background-color: $primary-button-color;
      color: #fff;
    }
  }

  .used__button {
    border-right: none;
    border-top-left-radius: 200px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 200px;
  }

  .not-used__button {
    border-top-left-radius: 0;
    border-top-right-radius: 200px;
    border-bottom-right-radius: 200px;
    border-bottom-left-radius: 0;
  }

  button.active {
    background-color: $primary-button-color;
    color: #fff;
  }
}

.used__table,
.not-used__table {
  display: none;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border: 1px solid $border-light-color;
  box-shadow: $box-shadow-medium;
  border-radius: $rounded-small;
  border-collapse: collapse;
  overflow-y: auto;
  background-color: #fff;
  margin-top: 20px;

  thead {
    border-bottom: 1px solid #aaa;
  }

  thead,
  tbody {
    width: 100%;
    border-collapse: collapse;

    tr {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 45px;

      th,
      td {
        display: flex;
        height: 100%;
        justify-content: center;
        align-items: center;
        font-size: 0.9rem;
        border-collapse: collapse;
      }
    }
  }

  th {
    font-weight: 600;
  }

  td {
    font-weight: 500;
  }
}

.used__table {
  th,
  td {
    width: 33.33%;
  }
}

.not-used__table {
  th,
  td {
    width: 100%;
  }
}
