<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../static/css/styles.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <!-- 사이드 네비게이션 바 (SNB)-->
      <nav class="navbar">
        <div class="navbar__title">
          <img
            src="../../static/images/icon/svg/logo.svg"
            alt="TITAN"
            draggable="false"
          />
        </div>
        <div class="navbar__menu-container">
          <a
            href="../invitation-code/invitation-code.html"
            class="navbar__menu-item active"
          >
            <span class="navbar__menu-item-text">초대장 코드</span></a
          >
          <a href="../cs-center/cs-center-board.html" class="navbar__menu-item">
            <span class="navbar__menu-item-text">고객센터</span></a
          >
          <a
            href="../category-edit/category-edit.html"
            class="navbar__menu-item"
          >
            <span class="navbar__menu-item-text">카테고리명 편집</span>
          </a>
          <a href="../user/user-search.html" class="navbar__menu-item">
            <span class="navbar__menu-item-text">이용자 조회 및 수정</span>
          </a>
          <a href="../school/school-add.html" class="navbar__menu-item">
            <span class="navbar__menu-item-text">학교 별 문제 유형 설정</span>
          </a>
          <a
            href="../passage-print/passage-print.html"
            class="navbar__menu-item"
          >
            <span class="navbar__menu-item-text"
              >지문 및 4단 출력물 등록/수정</span
            >
          </a>
          <a href="../problem/problem-edit.html" class="navbar__menu-item">
            <span class="navbar__menu-item-text">문제 유형 등록/수정</span>
          </a>
          <a href="../banner/banner.html" class="navbar__menu-item">
            <span class="navbar__menu-item-text">공지 사항 배너 설정</span>
          </a>
          <a
            href="../company/company-introduction.html"
            class="navbar__menu-item"
          >
            <span class="navbar__menu-item-text">회사소개</span>
          </a>
          <a href="../range/range.html" class="navbar__menu-item">
            <span class="navbar__menu-item-text">변형문제 비율 설정</span>
          </a>
        </div>
      </nav>
      <!-- //사이드 네비게이션 바 (SNB) -->

      <!-- 콘텐츠 -->
      <section class="content">
        <!-- 사용/미사용 선택 -->
        <div class="select__button">
          <button class="used__button active">사용된 초대장 코드</button>
          <button class="not-used__button">미사용 초대장 코드</button>
        </div>
        <!-- //사용/미사용 선택 -->

        <!-- 사용된 초대장 코드 테이블 -->
        <table class="used__table active">
          <thead>
            <tr>
              <th>코드명</th>
              <th>ID (이메일)</th>
              <th>닉네임</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>DJjn2jAp2</td>
              <td>test@test.com</td>
              <td>김OO</td>
            </tr>
            <tr>
              <td>DJjn2jAp2</td>
              <td>test@test.com</td>
              <td>김OO</td>
            </tr>
            <tr>
              <td>DJjn2jAp2</td>
              <td>test@test.com</td>
              <td>김OO</td>
            </tr>
            <tr>
              <td>DJjn2jAp2</td>
              <td>test@test.com</td>
              <td>김OO</td>
            </tr>
            <tr>
              <td>DJjn2jAp2</td>
              <td>test@test.com</td>
              <td>김OO</td>
            </tr>
            <tr>
              <td>DJjn2jAp2</td>
              <td>test@test.com</td>
              <td>김OO</td>
            </tr>
          </tbody>
        </table>
        <!-- //사용된 초대장 코드 테이블 -->

        <!-- 미사용 초대장 코드 테이블 -->
        <table class="not-used__table">
          <thead>
            <tr>
              <th>코드명</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>DJjn2jAp2</td>
            </tr>
            <tr>
              <td>DJjn2jAp2</td>
            </tr>
            <tr>
              <td>DJjn2jAp2</td>
            </tr>
            <tr>
              <td>DJjn2jAp2</td>
            </tr>
            <tr>
              <td>DJjn2jAp2</td>
            </tr>
            <tr>
              <td>DJjn2jAp2</td>
            </tr>
          </tbody>
        </table>
        <!-- //미사용 초대장 코드 테이블 -->
      </section>
      <!-- //콘텐츠 -->
    </div>

    <!-- 스크립트 -->
    <script src="../../static/js/invitation-code/invitation-code.js"></script>
  </body>
</html>
