<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../static/css/styles.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <!-- 사이드 네비게이션 바 (SNB)-->
      <nav class="navbar">
        <div class="navbar__title">
          <span class="navbar__title-text">MENU</span>
        </div>
        <div class="navbar__menu-container">
          <a href="" class="navbar__menu-item">
            <span class="navbar__menu-item-text">초대장 코드</span></a
          >
          <a href="" class="navbar__menu-item">
            <span class="navbar__menu-item-text">고객센터</span></a
          >
          <a href="" class="navbar__menu-item">
            <span class="navbar__menu-item-text">카테고리명 편집</span>
          </a>
          <a href="" class="navbar__menu-item">
            <span class="navbar__menu-item-text">이용자 조회 및 수정</span>
          </a>
          <div class="navbar__menu-wrapper active">
            <a href="" class="navbar__menu-item active">
              <span class="navbar__menu-item-text"
                >학교 별 문제 유형 설정</span
              ></a
            >
            <div class="navbar__sub-menu-wrapper">
              <a href="" class="navbar__sub-menu-item">
                <span class="navbar__sub-menu-item-text">신규등록</span>
              </a>
              <a href="" class="navbar__sub-menu-item active">
                <span class="navbar__sub-menu-item-text">수정/삭제</span>
              </a>
            </div>
          </div>
          <a href="" class="navbar__menu-item">
            <span class="navbar__menu-item-text"
              >지문 및 4단 출력물 등록/수정</span
            >
          </a>
          <a href="" class="navbar__menu-item">
            <span class="navbar__menu-item-text">문제 유형 등록/수정</span>
          </a>
          <a href="" class="navbar__menu-item">
            <span class="navbar__menu-item-text">공지 사항 배너 설정</span>
          </a>
          <a href="" class="navbar__menu-item">
            <span class="navbar__menu-item-text">회사소개</span>
          </a>
          <a href="" class="navbar__menu-item">
            <span class="navbar__menu-item-text">변형문제 비율 설정</span>
          </a>
        </div>
      </nav>
      <!-- //사이드 네비게이션 바 (SNB) -->

      <!-- 컨텐츠 -->
      <div class="content">
        <div class="school">
          <div class="school__content">
            <h2>유형 수정/삭제</h2>
            <div class="form__container">
              <div class="search__container">
                <h3>검색</h3>
                <div class="input__container">
                  <input type="text" class="input" />
                  <img
                    src="../../static/images/icon/svg/Search.svg"
                    alt="검색"
                  />
                  <div class="input__dropdown">
                    <div class="input__dropdown-item">대전 도인고</div>
                    <div class="input__dropdown-item">대전 대전고</div>
                    <div class="input__dropdown-item">대전 남대전고</div>
                  </div>
                </div>
              </div>
              <div class="form__input-wrapper">
                <h3>지역명</h3>
                <div class="form__input-container">
                  <input type="text" class="form__input" />
                </div>
              </div>
              <div class="form__input-wrapper">
                <h3>학교명</h3>
                <div class="form__input-container">
                  <input type="text" class="form__input" />
                </div>
              </div>
              <div class="problem__select">
                <h3>문제 유형</h3>
                <div class="problem__grid">
                  <!-- <div class="problem__grid-item">
                    <h4>문제 1.</h4>
                    <div class="problem__dropdown-container">
                      <span class="depth">DEPTH 1</span>
                      <div class="dropdown">
                        <div class="selected">
                          DETPH 1
                          <img
                            src="../../static/images/icon/svg/Arrow_drop_down.svg"
                            alt="드롭다운 화살표"
                            class="triangle"
                          />
                        </div>
                        <div class="dropdown-menu">
                          <div>객관식</div>
                          <div>주관식</div>
                          <div>단답형</div>
                        </div>
                      </div>
                    </div>
                    <div class="problem__dropdown-container">
                      <span class="depth">DEPTH 2</span>
                      <div class="dropdown">
                        <div class="selected">
                          DETPH 2
                          <img
                            src="../../static/images/icon/svg/Arrow_drop_down.svg"
                            alt="드롭다운 화살표"
                            class="triangle"
                          />
                        </div>
                        <div class="dropdown-menu">
                          <div>주제</div>
                          <div>개념</div>
                          <div>단원</div>
                        </div>
                      </div>
                    </div>
                    <div class="problem__dropdown-container">
                      <span class="depth">DEPTH 3</span>
                      <div class="dropdown">
                        <div class="selected">
                          DETPH 3
                          <img
                            src="../../static/images/icon/svg/Arrow_drop_down.svg"
                            alt="드롭다운 화살표"
                            class="triangle"
                          />
                        </div>
                        <div class="dropdown-menu">
                          <div>영어</div>
                          <div>수학</div>
                          <div>과학</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="problem__grid-item">
                    <h4>문제 2.</h4>
                    <div class="problem__dropdown-container">
                      <span class="depth">DEPTH 1</span>
                      <div class="dropdown">
                        <div class="selected">
                          DETPH 1
                          <img
                            src="../../static/images/icon/svg/Arrow_drop_down.svg"
                            alt="드롭다운 화살표"
                            class="triangle"
                          />
                        </div>
                        <div class="dropdown-menu">
                          <div>객관식</div>
                          <div>주관식</div>
                          <div>단답형</div>
                        </div>
                      </div>
                    </div>
                    <div class="problem__dropdown-container">
                      <span class="depth">DEPTH 2</span>
                      <div class="dropdown">
                        <div class="selected">
                          DETPH 2
                          <img
                            src="../../static/images/icon/svg/Arrow_drop_down.svg"
                            alt="드롭다운 화살표"
                            class="triangle"
                          />
                        </div>
                        <div class="dropdown-menu">
                          <div>주제</div>
                          <div>개념</div>
                          <div>단원</div>
                        </div>
                      </div>
                    </div>
                    <div class="problem__dropdown-container">
                      <span class="depth">DEPTH 3</span>
                      <div class="dropdown">
                        <div class="selected">
                          DETPH 3
                          <img
                            src="../../static/images/icon/svg/Arrow_drop_down.svg"
                            alt="드롭다운 화살표"
                            class="triangle"
                          />
                        </div>
                        <div class="dropdown-menu">
                          <div>영어</div>
                          <div>수학</div>
                          <div>과학</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="problem__grid-item">
                    <h4>문제 3.</h4>
                    <div class="problem__dropdown-container">
                      <span class="depth">DEPTH 1</span>
                      <div class="dropdown">
                        <div class="selected">
                          DETPH 1
                          <img
                            src="../../static/images/icon/svg/Arrow_drop_down.svg"
                            alt="드롭다운 화살표"
                            class="triangle"
                          />
                        </div>
                        <div class="dropdown-menu">
                          <div>객관식</div>
                          <div>주관식</div>
                          <div>단답형</div>
                        </div>
                      </div>
                    </div>
                    <div class="problem__dropdown-container">
                      <span class="depth">DEPTH 2</span>
                      <div class="dropdown">
                        <div class="selected">
                          DETPH 2
                          <img
                            src="../../static/images/icon/svg/Arrow_drop_down.svg"
                            alt="드롭다운 화살표"
                            class="triangle"
                          />
                        </div>
                        <div class="dropdown-menu">
                          <div>주제</div>
                          <div>개념</div>
                          <div>단원</div>
                        </div>
                      </div>
                    </div>
                    <div class="problem__dropdown-container">
                      <span class="depth">DEPTH 3</span>
                      <div class="dropdown">
                        <div class="selected">
                          DETPH 3
                          <img
                            src="../../static/images/icon/svg/Arrow_drop_down.svg"
                            alt="드롭다운 화살표"
                            class="triangle"
                          />
                        </div>
                        <div class="dropdown-menu">
                          <div>영어</div>
                          <div>수학</div>
                          <div>과학</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="problem__grid-item">
                    <h4>문제 4.</h4>
                    <div class="problem__dropdown-container">
                      <span class="depth">DEPTH 1</span>
                      <div class="dropdown">
                        <div class="selected">
                          DETPH 1
                          <img
                            src="../../static/images/icon/svg/Arrow_drop_down.svg"
                            alt="드롭다운 화살표"
                            class="triangle"
                          />
                        </div>
                        <div class="dropdown-menu">
                          <div>객관식</div>
                          <div>주관식</div>
                          <div>단답형</div>
                        </div>
                      </div>
                    </div>
                    <div class="problem__dropdown-container">
                      <span class="depth">DEPTH 2</span>
                      <div class="dropdown">
                        <div class="selected">
                          DETPH 2
                          <img
                            src="../../static/images/icon/svg/Arrow_drop_down.svg"
                            alt="드롭다운 화살표"
                            class="triangle"
                          />
                        </div>
                        <div class="dropdown-menu">
                          <div>주제</div>
                          <div>개념</div>
                          <div>단원</div>
                        </div>
                      </div>
                    </div>
                    <div class="problem__dropdown-container">
                      <span class="depth">DEPTH 3</span>
                      <div class="dropdown">
                        <div class="selected">
                          DETPH 3
                          <img
                            src="../../static/images/icon/svg/Arrow_drop_down.svg"
                            alt="드롭다운 화살표"
                            class="triangle"
                          />
                        </div>
                        <div class="dropdown-menu">
                          <div>영어</div>
                          <div>수학</div>
                          <div>과학</div>
                        </div>
                      </div>
                    </div>
                  </div> -->
                </div>
              </div>
            </div>
          </div>
          <div class="school__button-container">
            <button class="school__button save">저장</button>
            <button class="school__button delete">삭제</button>
          </div>
        </div>
      </div>
      <!-- //컨텐츠 -->
    </div>

    <!-- 선택 오류 모달 -->
    <div id="selectErrorModalConfirm" class="modal confirm">
      <div class="modal__content">
        <div class="modal__message-container">
          <span id="selectErrorModalMessage" class="modal__message"
            >데이터를 변경할 학교를 선택해 주세요</span
          >
        </div>
        <button
          type="button"
          id="selectErrorModalCloseButton"
          class="modal__close-button"
        >
          확인
        </button>
      </div>
    </div>
    <!-- //선택 오류 모달 -->

    <!-- 저장 모달 -->
    <div id="saveModalConfirm" class="modal confirm">
      <div class="modal__content">
        <div class="modal__message-container">
          <span id="saveModalMessage" class="modal__message"
            >데이터 수정 내용이 저장되었습니다.</span
          >
        </div>
        <button
          type="button"
          id="saveModalCloseButton"
          class="modal__close-button"
        >
          확인
        </button>
      </div>
    </div>
    <!-- //저장 모달 -->

    <!-- 삭제 확인 모달 -->
    <div id="deleteModalConfirm" class="modal select">
      <div class="modal__content">
        <div class="modal__message-container">
          <span id="deleteModalMessage" class="modal__message"
            >학교 유형을<br />정말로 삭제하시겠습니까?</span
          >
        </div>
        <div class="modal__button-container">
          <button id="deleteModalConfirmButton" class="modal__button confirm">
            확인
          </button>
          <button id="deleteModalCancelButton" class="modal__button cancel">
            취소
          </button>
        </div>
      </div>
    </div>
    <!-- //삭제 확인 모달 -->

    <!-- 삭제 오류 모달 -->
    <div id="deleteErrorModalConfirm" class="modal confirm">
      <div class="modal__content">
        <div class="modal__message-container">
          <span id="deleteErrorModalMessage" class="modal__message"
            >삭제할 학교를 선택해 주세요</span
          >
        </div>
        <button
          type="button"
          id="deleteErrorModalCloseButton"
          class="modal__close-button"
        >
          확인
        </button>
      </div>
    </div>
    <!-- //삭제 오류 모달 -->

    <!-- 스크립트 -->
    <script src="../../static/data/problem-data.js"></script>
    <script src="../../static/js/school/school-edit.js"></script>
  </body>
</html>
