<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../static/css/styles.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <!-- 사이드 네비게이션 바 (SNB)-->
      <nav class="navbar">
        <div class="navbar__title">
          <span class="navbar__title-text">MENU</span>
        </div>
        <div class="navbar__menu-container">
          <a href="" class="navbar__menu-item">
            <span class="navbar__menu-item-text">초대장 코드</span></a
          >
          <a href="" class="navbar__menu-item">
            <span class="navbar__menu-item-text">고객센터</span></a
          >
          <a href="" class="navbar__menu-item">
            <span class="navbar__menu-item-text">카테고리명 편집</span>
          </a>
          <a href="" class="navbar__menu-item active">
            <span class="navbar__menu-item-text">이용자 조회 및 수정</span>
          </a>
          <a href="" class="navbar__menu-item">
            <span class="navbar__menu-item-text">학교 별 문제 유형 설정</span>
          </a>
          <a href="" class="navbar__menu-item">
            <span class="navbar__menu-item-text"
              >지문 및 4단 출력물 등록/수정</span
            >
          </a>
          <a href="" class="navbar__menu-item">
            <span class="navbar__menu-item-text">문제 유형 등록/수정</span>
          </a>
          <a href="" class="navbar__menu-item">
            <span class="navbar__menu-item-text">공지 사항 배너 설정</span>
          </a>
          <a href="" class="navbar__menu-item">
            <span class="navbar__menu-item-text">회사소개</span>
          </a>
          <a href="" class="navbar__menu-item">
            <span class="navbar__menu-item-text">변형문제 비율 설정</span>
          </a>
        </div>
      </nav>
      <!-- //사이드 네비게이션 바 (SNB) -->

      <!-- 콘텐츠 -->
      <div class="content">
        <!-- 검색란/조회 버튼 -->
        <div class="user__search-container">
          <div class="user__email-input-container">
            <input
              type="text"
              class="user__email-input"
              placeholder="이용자 이메일을 입력해주세요"
            />
          </div>
          <div class="user__search-button-container">
            <button class="user__search-button">이용자 조회</button>
            <button>이용자 지문 조회</button>
            <button>이용자 로그기록 조회</button>
          </div>
        </div>
        <!-- //검색란/조회 버튼 -->

        <!-- 회원정보 테이블 -->
        <table class="user__table">
          <thead>
            <tr>
              <th>가입일자</th>
              <th>이메일</th>
              <th>닉네임</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>23.11.20</td>
              <td>aaa@endigo.co.kr</td>
              <td>김쌤</td>
            </tr>
            <tr>
              <td>23.11.20</td>
              <td>aaa@endigo.co.kr</td>
              <td>김쌤</td>
            </tr>
            <tr>
              <td>23.11.20</td>
              <td>aaa@endigo.co.kr</td>
              <td>김쌤</td>
            </tr>
            <tr>
              <td>23.11.20</td>
              <td>aaa@endigo.co.kr</td>
              <td>김쌤</td>
            </tr>
            <tr>
              <td>23.11.20</td>
              <td>aaa@endigo.co.kr</td>
              <td>김쌤</td>
            </tr>
          </tbody>
        </table>
        <!-- //회원정보 테이블 -->
      </div>
      <!-- //콘텐츠 -->
    </div>

    <!-- 조회 오류 모달 -->
    <div id="searchErrorModalConfirm" class="modal confirm">
      <div class="modal__content">
        <div class="modal__message-container">
          <span id="searchErrorModalMessage" class="modal__message"
            >해당 사용자 정보를 조회할 수 없습니다.<br />다시 사용자 ID를
            입력해주세요.</span
          >
        </div>
        <button
          type="button"
          id="searchErrorModalCloseButton"
          class="modal__close-button"
        >
          확인
        </button>
      </div>
    </div>
    <!-- //조회 오류 모달 -->

    <!-- 이용자 조회 모달 -->
    <div id="userSearchModal" class="user-search-modal">
      <div class="user-search-modal__content">
        <h2>이용자 조회</h2>
        <div class="user-search-modal__form-container">
          <div class="user-search-modal__form-wrapper">
            <h3>가입일자</h3>
            <span>24.07.01</span>
          </div>
          <div class="user-search-modal__form-wrapper">
            <h3>아이디(이메일)</h3>
            <div class="user-search-modal__input-container">
              <input type="text" value="aaa@endigo.co.kr" />
            </div>
          </div>
          <div class="user-search-modal__form-wrapper">
            <h3>패스워드</h3>
            <div class="user-search-modal__input-container">
              <input type="text" value="aabbcc11" />
            </div>
          </div>
          <div class="user-search-modal__form-wrapper">
            <h3>닉네임</h3>
            <div class="user-search-modal__input-container">
              <input type="text" value="김사랑" />
            </div>
          </div>
          <div class="user-search-modal__form-wrapper">
            <h3>이름</h3>
            <div class="user-search-modal__input-container">
              <input type="text" />
            </div>
          </div>
          <div class="user-search-modal__form-wrapper">
            <h3>전화번호</h3>
            <div class="user-search-modal__input-container">
              <input type="text" />
            </div>
          </div>
          <div class="user-search-modal__form-wrapper">
            <h3>관리 인원</h3>
            <div class="user-search-modal__input-container">
              <input type="text" />
            </div>
          </div>
        </div>
        <button
          id="userSearchModalSaveButton"
          class="user-search-modal__save-button"
        >
          저장
        </button>
      </div>
    </div>
    <!-- //이용자 조회 모달 -->

    <!-- 저장 모달 -->
    <div id="saveModalConfirm" class="modal select">
      <div class="modal__content">
        <div class="modal__message-container">
          <span id="saveModalMessage" class="modal__message"
            >입력된 이용자 정보로<br />변경하시겠습니까?</span
          >
        </div>
        <div class="modal__button-container">
          <button id="saveModalConfirmButton" class="modal__button confirm">
            확인
          </button>
          <button id="saveModalCancelButton" class="modal__button cancel">
            취소
          </button>
        </div>
      </div>
    </div>
    <!-- //저장 모달 -->

    <!-- 스크립트 -->
    <script src="../../static/js/user/user-search.js"></script>
  </body>
</html>
